[submodule "phaserhelpers"]
	path = phaserhelpers
	url = https://github.com/jauntyjocularjay/PhaserHelpers.git
[submodule "sh"]
	path = sh
	url = https://github.com/jauntyjocularjay/kwikgit.git
[submodule "vjsc"]
	path = vjsc
	url = https://github.com/jauntyjocularjay/vanillajscomponents.git
[submodule "chaitests"]
	path = chaitests
	url = https://github.com/jauntyjocularjay/chaitests.git
